version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: lms-postgres
    environment:
      POSTGRES_DB: lms_db
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    networks: 
      - proxy

  backend:
    build: .
    container_name: lms-backend
    environment:
      - POSTGRES_URL=${POSTGRES_URL}
      - AZURE_OPENAI_ENDPOINT=${AZURE_OPENAI_ENDPOINT}
      - AZURE_OPENAI_API_KEY=${AZURE_OPENAI_API_KEY}
      - AZURE_OPENAI_DEPLOYMENT_NAME=${AZURE_OPENAI_DEPLOYMENT_NAME}
      - VIRTUAL_HOST=lmsapi.mastereducation.kz
      - LETSENCRYPT_HOST=lmsapi.mastereducation.kz
      - VIRTUAL_PORT=8000
      - CLIENT_MAX_BODY_SIZE=5m
    depends_on:
      - postgres
    networks:
      - proxy
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads
    expose:
      - "8000"

volumes:
  postgres_data:

networks:
  proxy:
    external: true
